/* Custom Font Imported */
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

/* All Body Styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

section {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

h1 {
  font-family: 'Metal Mania', cursive;
  font-size: 50px;
}

p {
  font-size: 16px;
  line-height: 150%;
}

img {
  width: 100%;
  height: auto;
}

.highlighter {
  color: orangered;
}

.half-width {
  float: left;
  width: 40%;
  margin-left: 5%;
}

.text-area {
  padding: 5%;
}